.Contact{
  background-color: #1f1d1d;
  height: 55rem;
  margin-top: -80px;
}
.contact-title{
  color: darkturquoise;
  padding-top: 70px;
  padding-bottom: -10rem;
  padding-left: 40%;
}
.contact-list li{
  margin: 20px;
  color: rgb(224, 224, 224);
  list-style: none;
  display: flex;
  padding-right: 80px;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}
.contact-list {
  margin-top: 10rem;
}
.followMe {
 padding-left: 30rem;
 color: darkturquoise; 
}

.social-network {
  color: aliceblue;
  display: flex;
  margin-left: 32.5rem;
}
.social-network li{
  margin: 20px;
  list-style: none;
  cursor: pointer;
}
.social-network li:hover{
  color: darkturquoise;
  font-size: 20px;
}

@media (max-width:  414px)   {
    .Contact{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact-title{
      margin-left: -130px;
    }
    .contact-list{
      margin-top: 20px;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .followMe{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -30rem;
    }
    .social-network{
      display: flex;
      margin-left: -15px;
    }
}