.Contact{
  background-color: #1f1d1d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title{
  color: greenyellow;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  color: rgb(224, 224, 224);
  list-style: none;
  line-height: 3rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}


.followMe {
  color: greenyellow;
}

.social-network {
  display: flex;
  list-style: none;
  margin: 2rem;
  gap: 3rem;
  color: white;
}

@media (min-width: 2340px) {
 
}
