.img-proyect {
  height: 20rem;
  width: 25rem;
  padding: 30px;
  margin: 0 auto;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.img-proyect:hover {
  transform: scale(1.05); /* Efecto hover */
}

.carousel-item.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.carousel-control-next, .carousel-control-prev {
  background-color: black;
  height: 100px;
  width: 100px;
  margin-top: 7rem;
}

.visually-hidden {
  display: none;
}

/* Responsivo para dispositivos pequeños */
@media (max-width: 768px) {
  .img-proyect {
    height: 15rem;
    width: 20rem;
    padding: 20px;
  }

  .carousel-item.active {
    padding: 0 50px;
  }

  .carousel-control-next, .carousel-control-prev {
    height: 80px;
    width: 80px;
    margin-top: 5rem;
  }
}

/* Responsivo para dispositivos muy pequeños */
@media (max-width: 459px) {
  .img-proyect {
    height: 12rem;
    width: 20rem;
    padding: 5%;
    margin: 0 auto;
  }

  .carousel-item.active {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .carousel-control-next, .carousel-control-prev {
    height: 60px;
    width: 60px;
    margin-top: 3rem;
  }
}
