.presentation {
  color:white;
  font-family: monospace;
}

.greething{
  font-size: 60px;
   margin-top: 300px;
   margin-left: 30px;
   overflow: hidden;
   white-space: nowrap;
   border-right: 0.15em solid #ffffff;
   animation: typing 1s steps(28) 0.5s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }   
}

.greething-presentation{
  color: white;
   margin-top: 30px;
   margin-left: 30px;
   overflow: hidden;
   white-space: nowrap;
   border-right: 0.15em solid #ffffff;
   animation: typing 1s steps(28) 0.5s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }    
}

body {
  background: url(/space.jpg)no-repeat;
  background-size: cover;
  height: 52rem; 
}

@media (max-width:  414px)   {
    .NavBar{
      flex-direction: column;
    }
    body{
      background: url(/space.jpg)no-repeat cover;
      background-color: #1f1d1d;
    }
    .greething{
      font-size: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      padding: 20px;
      padding-left: 0px;
      white-space:nowrap;
    }
    
}

