.presentation {
  color: white;
  font-family: monospace;
}


@keyframes blink {
  50% { border-color: transparent; }
}

body {
  background: url(/background.jpg) no-repeat;
  background-size: cover;
  height: 100vh; 
  width: 100vw;
  overflow: hidden; /* Evita el scroll */
}

.greething {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  color: aliceblue;
}
.greething h1 {
  font-size: 5rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 5px #000;
  padding-left: 4rem;
  font-weight: bold;
}

@media (max-width: 414px) {
  .NavBar {
    flex-direction: column;
  }
  body {
    background: url(/space.jpg) no-repeat;
    background-color: #1f1d1d;
    background-size: cover;
  }
  .greething {
    font-size: 30px;
    margin: 20px auto;
    padding: 20px;
    white-space: nowrap;
  }
}
