.presentation {
  color: white;
  font-family: monospace;
}

.greething, .greething-presentation {
  font-size: 60px;
  padding-top: 100px;
  margin-top: 100px;
  margin-left: 30px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #ffffff;
  animation: typing 2s steps(28) 1 normal both, blink 0.75s step-end infinite;
}

.name {
  color: aliceblue;
  font-size: 4rem;
}

/* Animación de máquina de escribir */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

body {
  background: url(/space.jpg) no-repeat;
  background-size: cover;
  height: 100vh; 
  width: 100vw;
  overflow: hidden; /* Evita el scroll */
}

@media (max-width: 414px) {
  .NavBar {
    flex-direction: column;
  }
  body {
    background: url(/space.jpg) no-repeat;
    background-color: #1f1d1d;
    background-size: cover;
  }
  .greething {
    font-size: 30px;
    margin: 20px auto;
    padding: 20px;
    white-space: nowrap;
  }
}
