.AboutMe {
  padding: 20px;
  text-align: center;
  background-color: #1f1d1d;
  color: rgb(224, 224, 224);
  height: 100vh;
  
  font-family: 'Courier New', Courier, monospace;
}
.title-about {
  margin-top: 4rem;
  color: greenyellow;
}

span{
  color: greenyellow;
}

.content-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap; /* Para que sea responsivo */
  margin-top: 1%;
}
/* @media (max-width: 2340px) {
  .content-section{
    font-size: 1.3rem;
  }
  .imgMe{
    flex: 1;
    width: 3rem;
  }
} */

.text {
  flex: 1;
  min-width: 300px; /* Ajustar para responsividad */
  max-width: 500px; /* Ancho máximo para el texto */
  text-align: left; /* Alineación del texto a la izquierda */
}

.image {
  flex: 1;
  min-width: 200px; /* Ajustar para responsividad */
  max-width: 400px; /* Ancho máximo para la imagen */
  
}

.imgMe {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  border-radius: 10px; /* Bordes redondeados para la imagen */
}

.subtitles {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}
