.AboutMe {
  padding: 20px;
  text-align: center;
  background-color: #1f1d1d;
  height: 100vh;
  color: rgb(224, 224, 224);
  font-family: 'Courier New', Courier, monospace;
}
.title-about {
  margin-top: 4rem;
  color: greenyellow;
  font-size: 2.5rem;
}

span{
  color: greenyellow;
}

.content-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap; 
  margin-top: 1%;
}


.text {
  flex: 1;
  min-width: 300px; /* Ajustar para responsividad */
  max-width: 500px; /* Ancho máximo para el texto */
  text-align: left; /* Alineación del texto a la izquierda */
}

.image {
  flex: 1;
  min-width: 100px; /* Ajustar para responsividad */
  max-width: 300px; /* Ancho máximo para la imagen */
  
}

.imgMe {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  border-radius: 10px; /* Bordes redondeados para la imagen */
}

.subtitles {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media(max-width: 440px) {
.AboutMe {
  height: auto;
}
}